<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application
      android:name="${applicationName}"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name">

    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:launchMode="singleTop"
        android:theme="@style/LaunchTheme"
        android:hardwareAccelerated="true"
        android:windowSoftInputMode="adjustResize"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">

      <!-- Launcher -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <!-- Your app's custom-scheme deep links (e.g., gaiaapp://...) -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Use a placeholder so flavors can swap the scheme -->
        <data android:scheme="${appAuthRedirectScheme}" />
        <!-- Optional: constrain further
        <data android:scheme="${appAuthRedirectScheme}" android:host="open" android:pathPrefix="/exam" /> -->
      </intent-filter>

      <!-- Flutter theme metadata -->
      <meta-data
          android:name="io.flutter.embedding.android.NormalTheme"
          android:resource="@style/NormalTheme" />
    </activity>

    <meta-data android:name="flutterEmbedding" android:value="2" />
  </application>

  <!-- Queries: allow *this app* to discover/launch external exam app via examapp:// -->
  <queries>
    <intent>
      <action android:name="android.intent.action.PROCESS_TEXT" />
      <data android:mimeType="text/plain" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="examapp" />
    </intent>
  </queries>
</manifest>
